/* common-styles.css */
body {
  color: white;
  background-color: #000000;
  font-family: 'Aptos', bold;
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.page-content {
  max-width: auto;
  margin: auto;
  padding: 20px;
}

.page-title {
  color: #e0e0e0;
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #368B27;
  padding-bottom: 10px;
}

.page-text {
  line-height: 1.8;
  margin-bottom: 30px;
}

.page-text p {
  margin-bottom: 15px;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.choices a {
  color: #368B27;
  text-decoration: none;
  background-color: #91E35D;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}

.choices a:hover {
  background-color: #91E35D;
  transform: translateX(5px);
}

.page-number {
  text-align: center;
  margin-top: 30px;
  color: #aaaaaa;
  font-size: 14px;
}

/* Gomb stílusok */
button {
  background-color: #368B27;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Cinzel', serif;
  margin: 5px;
}

button:hover {
  background-color: #91E35D;;
}

